<div class="${baseClass}" style="height:100%">
  <style type="text/css">
    .bordered_box {position:absolute;display:block;margin-top:20px;width:300px; border: 1px solid #759dc0; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);}
  </style>
  <div class="bordered_box"  style="top:0;left:0;height:150px">
    <table class="dijitDialogPaneContentArea" style="padding:20px">
      <tr>
	<td><label for="numbuilds">Number of builds:</label></td>
	<td>
	  <input data-dojo-type="dijit.form.NumberSpinner"
		 value="5000"
		 smallDelta="10"
		 constraints="{min:100,max:10000,places:0}"
		 data-dojo-attach-point="numbuilds"
		 style="width:200px;"
		 />
	</td>
      </tr>
      <tr>
        <td> <input data-dojo-attach-point="build_time" data-dojo-type="dijit.form.CheckBox"/>
	</td>
        <td><label for="address">build time instead of build wait delay</label></td>
      </tr>
    </table>
    <div class="dijitDialogPaneActionBar"  style="margin:0">
      <button data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:generateCharts" type="submit">Generate</button>
    </div>
  </div>
  <div class="bordered_box" style="top:0;left:310px;width:1200px;height:420px">
    <div data-dojo-attach-point="chart1" style="width:1200px;height:400px"></div>
  </div>
  <div class="bordered_box" style="top:440px;left:310px;width:1200px;height:250px">
    <table data-dojo-attach-point="additionnal_plots" style="visibility:hidden">
      <div data-dojo-attach-point="help_message" style="visibility:hidden">click on top chart for additional details on each build owner</div>
      <tr><td>
	  <div data-dojo-attach-point="chart5" style="width:380px;height:200px;margin-top:20px"></div>
	  <div style="width:auto;text-align:center;" >Per hour wait queue</div>
	</td><td>
	  <div data-dojo-attach-point="chart3" style="width:380px;height:200px;margin-top:20px"></div>
	  <div style="width:auto;text-align:center;" >Per hour wait time</div>
	</td><td>
	  <div data-dojo-attach-point="chart4" style="width:380px;height:200px;margin-top:20px"></div>
	  <div style="width:auto;text-align:center;" >Per hour build time</div>
    </table>
  </div>
</div>
